.row
  .col-lg-12
    .pull-right
      .alert.alert-info
        %strong Ballot editors not available yet.
        %br
        Nominations are announced on Friday 16 August. Ballot editors will be available soon after.
    .page-header
      %h1= division['name']
  .col-lg-6
    .lead.text-center House of Representatives
    %p
      Your local member of the House of Representatives is
      - if representative['party'] then
        %strong= "#{representative['first_name']} #{representative['last_name']}"
        of the
        %span.party(class="party-#{representative['party']}")#{parties[representative['party']]['name']}
      - else
        %strong<= "#{representative['first_name']} #{representative['last_name']}"
        , an independent.
    %hr
      Currently known candidates for this division are:
      %table.table.table-condensed
        - candidates.each do |candidate|
          %tr
            %td
              #{candidate['first_name']} #{candidate['last_name']}
            %td
              = partytmpl.render(Object.new, :code => candidate['party'], :parties => parties)
  .col-lg-6
    .lead.text-center Senate
    %p
      The Senators for <a href="/#{division['state']}.html">#{states[division['state']]['name']}</a> are listed below.
    %table.table.table-condensed
      - senators.each do |senator|
        %tr
          %td
            #{senator['first_name']} #{senator['last_name']}
          %td
            = partytmpl.render(Object.new, :code => senator['party'], :parties => parties)
