.row
  .col-lg-12
    .page-header
      %h1= division['name']
  .col-lg-6
    .lead.text-center House of Representatives
    %p
      Your local member of the House of Representatives is
      %br
      - if representative['party'] then
        %strong= "#{representative['first_name']} #{representative['last_name']}"
        of the
        <span class="party party-#{representative['party']}">#{parties[representative['party']]['name']}</span>.
      - else
        <strong>#{representative['first_name']} #{representative['last_name']}</strong>, an independent.
    %hr
      The candidates for #{division['name']}, in ballot order:
      %table.table.table-condensed
        - candidates.each do |candidate|
          %tr
            %td
              - if candidate == representative
                <strong>#{candidate['first_name']} #{candidate['last_name']}</strong>
              - else
                #{candidate['first_name']} #{candidate['last_name']}
            %td
              = partytmpl.render(Object.new, :code => candidate['party'], :parties => parties)
  .col-lg-6
    .lead.text-center Senate
    %p
      The Senators for <a href="/#{division['state']}.html">#{states[division['state'].split('/')[1]]['name']}</a> are listed below.
    %table.table.table-condensed
      - senators.each do |senator|
        %tr
          %td
            #{senator['first_name']} #{senator['last_name']}
          %td
            = partytmpl.render(Object.new, :code => senator['party'], :parties => parties)
