.row
  .col-lg-12
    .page-header
      .pull-right
        %a.btn.btn-primary(href="/viewer/#{division['state'].split('/')[1]}")
          View Preferences
        %a.btn.btn-primary(href="/editor/#{division_id}") Ballot Editor for #{division['name']} &raquo;
      %h1= division['name']
      %p
        More information on the parties can be found by clicking the party name or abbreviation to the right of each candidate.
        This will open the party's website in a new window or tab. Candidates
        may also have either or both of Wikipedia or link icons next to their
        names. These will open the candidate's Wikipedia entry or personal
        website in a new window or tab.
      %p
        If you know of a Wikipedia entry or website for a candidate who doesn't
        have one or the other, please let us know.
      %p
        Find out more about the division of #{division['name']} at
        %a(href="http://blogs.crikey.com.au/pollbludger/fed2013-#{division_id}"  target="_blank")
          %img(src="/images/crikey.jpg" style="width: 70px; height: 24px;")
      %p
        See what leaflets the candidates have been handing out at
        %a(href="http://www.electionleaflets.org.au/electorates/#{leaflets_id}/"  target="_blank")
          ElectionLeaflets.org.au
  .col-lg-6
    .lead.text-center House of Representatives
    %p
      Your local member of the House of Representatives is
      %br
      - if representative['party'] then
        %strong= "#{representative['first_name']} #{representative['last_name']}"
        of the
        <span class="party party-#{representative['party']}">#{parties[representative['party']]['name']}</span>.
      - else
        <strong>#{representative['first_name']} #{representative['last_name']}</strong>, an independent.
    %hr
      The candidates for #{division['name']}, in ballot order:
      %table.table.table-condensed
        - candidates.each do |candidate|
          %tr
            %td
              .pull-right
                - if candidate['website']
                  %a.candidate-link(href="#{candidate['website']}" target="_blank")
                    %span.glyphicon.glyphicon-link
                - if candidate['wikipedia']
                  %a.candidate-link(href="#{candidate['wikipedia']}" target="_blank")
                    %img(src="/images/wikipedia-w.png" alt="Wikipedia")
              - if candidate == representative
                <strong>#{candidate['first_name']} #{candidate['last_name']}</strong>
              - else
                #{candidate['first_name']} #{candidate['last_name']}
            %td
              = partytmpl.render(Object.new, :code => candidate['party'], :parties => parties)
  .col-lg-6
    .lead.text-center Senate
    %p
      The Senators for <a href="/#{division['state']}.html">#{states[division['state'].split('/')[1]]['name']}</a> are listed below.
    %table.table.table-condensed
      - senators.each do |senator|
        %tr
          %td
            .pull-right
              - if senator['website']
                %a.candidate-link(href="#{senator['website']}" target="_blank")
                  %span.glyphicon.glyphicon-link
              -if senator['wikipedia']
                %a(href="#{senator['wikipedia']}" target="_blank")
                  %img(src="/images/wikipedia-w.png" alt="Wikipedia")
            #{senator['first_name']} #{senator['last_name']}
          %td
            = partytmpl.render(Object.new, :code => senator['party'], :parties => parties)
