.row
  .col-lg-5
    .jumbotron
      %h2 Let's start!
      .geolocation-only
        %form
          %h3 Use your current location
          %button.btn.btn-primary#geolocate(type="button" data-loading-text="Locating...")
            Click here!
      %div
        %form#address
          %h3
            %span.geolocation-only Or use
            %span.geolocation-alt Use
            location search
          .input-group
            %input.form-control#addressInput(type="text" placeholder="Address...")
            .input-group-btn
              %button.btn.btn-primary#addressSearch(type="submit" data-loading-text="Searching...") Search
      %div
        %form.form-inline#division
          %h3 Or select your division
          .input-group
            %select#divisionSelector.form-control
              %option(value="") Division...
              - states.keys.sort.each do |state_id|
                %optgroup(label="#{states[state_id]["name"]}")
                  - divisions.keys.sort.each do |division_id|
                    - division = divisions[division_id]
                    - next if division["state"] != "state/#{state_id}"
                    %option(value="#{division_id}")= division["name"]
            .input-group-btn
              %button.btn.btn-primary(type="submit") Go

  .col-lg-7
    .content-box
      = intro
    .content-box
      .lead
        Latest News (
        %a(href='/news.html')>< Older News...
        )
      = news
