!!! 5
%html(lang="en")
  %head
    %title
      - if title then
        #{title} — Below The Line
      - else
        Below The Line
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")

    - if base then
      %base(href="#{base}")

    %link(rel="stylesheet" href="/css/bootstrap.css")
    %link(rel="stylesheet" href="/css/belowtheline-#{shortrev}.css")

    :javascript
      var _sf_startpt=(new Date()).getTime()
    %script(src="/js/jquery-1.10.2.min.js")
    %script(src="/js/jquery-ui-1.10.3.custom.min.js")
    %script(src="/js/bootstrap.min.js")
    %script(src="/js/angular-1.0.7.min.js")
    %script(src="/js/angular-sortable.js")
    %script(src="/js/underscore-1.4.4.min.js")

    %script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAs-mYug2pkaA-styj1mS6guOI012AYeXY&sensor=true")
    %script(src="/js/belowtheline-#{shortrev}.js")

  %body
    %nav.navbar.navbar-static-top
      .navbar-header
        %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

        %a.navbar-brand.navbar-brand-longer(href="/")
          %img.logo(src="/images/belowtheline.png")
          Below The Line

      .collapse.navbar-collapse.navbar-ex1-collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            %a(href="/about-us.html") About Us
          %li
            %a(href="/privacy.html") Privacy
          %li
            %a(href="https://twitter.com/belowtheline_au")
              %img.social-logo(src="/images/twitter-bird-light-bgs.png" alt="Twitter")
          %li
            %a(href="https://www.facebook.com/pages/Voting-Below-The-Line/147330751945796")
              %img.social-logo(src="/images/FB-f-Logo__blue_144.png" alt="Facebook")
          %li
            %a
              %form(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank")
                %input(type="hidden" name="cmd" value="_s-xclick")
                %input(type="hidden" name="hosted_button_id" value="ZXQHV6SD4DP3W")
                %input(type="image" src="https://www.paypalobjects.com/en_AU/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal — The safer, easier way to pay online.")
                %img(alt="" border="0" src="https://www.paypalobjects.com/en_AU/i/scr/pixel.gif" width="1" height="1")

    .container
      = body
      .row
        .col-lg-12
          .well#footer
            %p.muted.credit Find out more about the site at <a href="http://github.com/belowtheline/site">GitHub</a>. Hosting generously provided by <a href="http://rackspace.com/">Rackspace</a>.
            %p.muted.credit Site code and content &copy; Benno Rice & Michael Pearson 2013.
            %p.muted.credit Incorporates data that is &copy; Commonwealth of Australia (Australian Electoral Commission) 2013.
    :javascript
      var _rollbarParams = {"server.environment": "#{rollbar_environment}"};
      _rollbarParams["notifier.snippet_version"] = "2"; var _rollbar=["88f68d654e0a4dd2a7ad5d4da42a4e1c", _rollbarParams]; var _ratchet=_rollbar;
      (function(w,d){w.onerror=function(e,u,l){_rollbar.push({_t:'uncaught',e:e,u:u,l:l});};var i=function(){var s=d.createElement("script");var 
      f=d.getElementsByTagName("script")[0];s.src="//d37gvrvc0wt4s1.cloudfront.net/js/1/rollbar.min.js";s.async=!0;
      f.parentNode.insertBefore(s,f);};if(w.addEventListener){w.addEventListener("load",i,!1);}else{w.attachEvent("onload",i);}})(window,document);

      var _sf_async_config = { uid: 50016, domain: 'belowtheline.org.au', useCanonical: true };
        (function() {
          function loadChartbeat() {
            window._sf_endpt = (new Date()).getTime();
            var e = document.createElement('script');
            e.setAttribute('language', 'javascript');
            e.setAttribute('type', 'text/javascript');
            e.setAttribute('src','//static.chartbeat.com/js/chartbeat.js');
            document.body.appendChild(e);
          };
          var oldonload = window.onload;
          window.onload = (typeof window.onload != 'function') ?
            loadChartbeat : function() { oldonload(); loadChartbeat(); };
        })();
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-360053-6', 'belowtheline.org.au');
        ga('send', 'pageview');
