- if parties.has_key? code then
  - party = parties[code]
  %span.partycode.party(class="party-#{code}" title="#{party['name']}")
    - if party.has_key? 'website' then
      %a(href="#{party['website']}")
        = party['code']
    - else
      = party['code']
-else
  %span.partycode.party.party-ind(title="Independent")
    IND
