.row
  .col-md-12
    .page-header
      .pull-right
        %a.btn.btn-primary(href="/viewer/#{state_id}")
          View Preferences
      %h1= state['name']
  .col-md-6
    %p
      The Senators for your #{state_or_territory} are:
    %table.table.table-condensed
      - senators.each do |senator|
        %tr
          %td
            .pull-right
              - if senator['website']
                %a.candidate-link(href="#{senator['website']}" target="_blank")
                  %span.glyphicon.glyphicon-link
              -if senator['wikipedia']
                %a(href="#{senator['wikipedia']}" target="_blank")
                  %img(src="/images/wikipedia-w.png" alt="Wikipedia")
            #{senator['first_name']} #{senator['last_name']}
          %td
            = partytmpl.render(Object.new, :code => senator['party'], :parties => parties)
  .col-md-6
    %p
      The Senate candidates for #{state['name']}, in ballot order:
    %table.table.table-condensed
      - ballot_order.each do |candidate_id|
        - candidate = candidates[candidate_id]
        %tr
          %td
            .pull-right
              - if candidate['website']
                %a.candidate-link(href="#{candidate['website']}" target="_blank")
                  %span.glyphicon.glyphicon-link
              -if candidate['wikipedia']
                %a(href="#{candidate['wikipedia']}" target="_blank")
                  %img(src="/images/wikipedia-w.png" alt="Wikipedia")
            #{candidate['first_name']} #{candidate['last_name']}
          %td
            = partytmpl.render(Object.new, :code => candidate['party'], :parties => parties)
