.row
  .col-lg-12
    .page-header
      .pull-right
        %a.btn.btn-primary(href="/viewer/#{state_id}")
          View Preferences
        %a.btn.btn-primary(href="/editor/wa") Ballot Editor &raquo;
      %h1= state['name']
      %p
        More information on the parties can be found by clicking the party name or abbreviation to the right of each candidate.
        This will open the party's website in a new window or tab. Candidates
        may also have either or both of Wikipedia or link icons next to their
        names. These will open the candidate's Wikipedia entry or personal
        website in a new window or tab.
      %p
        If you know of a Wikipedia entry or website for a candidate who doesn't
        have one or the other, please let us know.
  .col-lg-6
    %p
      The current Senators for your #{state_or_territory} are:
    %table.table.table-condensed
      - senators.each do |senator|
        %tr
          %td
            .pull-right
              - if senator['website']
                %a.candidate-link(href="#{senator['website']}" target="_blank")
                  %span.glyphicon.glyphicon-link
              -if senator['wikipedia']
                %a(href="#{senator['wikipedia']}" target="_blank")
                  %img(src="/images/wikipedia-w.png" alt="Wikipedia")
            #{senator['first_name']} #{senator['last_name']}
          %td
            = partytmpl.render(Object.new, :code => senator['party'], :parties => parties)
  .col-lg-6
    %p
      The Senate candidates for #{state['name']}, in ballot order:
    %table.table.table-condensed
      - ballot_order.each do |candidate_id|
        - candidate = candidates[candidate_id]
        %tr
          %td
            .pull-right
              - if candidate['website']
                %a.candidate-link(href="#{candidate['website']}" target="_blank")
                  %span.glyphicon.glyphicon-link
              -if candidate['wikipedia']
                %a(href="#{candidate['wikipedia']}" target="_blank")
                  %img(src="/images/wikipedia-w.png" alt="Wikipedia")
            #{candidate['first_name']} #{candidate['last_name']}
          %td
            = partytmpl.render(Object.new, :code => candidate['party'], :parties => parties)
