.row
  .span12
    .page-header
      %h1= state['name']
  .span6
    %p
      The Senators for your #{state_or_territory} are:
    %table.table.table-condensed
      - senators.each do |senator|
        %tr
          %td
            #{senator['first_name']} #{senator['last_name']}
          %td
            = partytmpl.render(Object.new, :code => senator['party'], :parties => parties)
  .span6
    %p
      Currently known candidates for #{state['name']} (in alphabetical order
      by party) are:
    %table.table.table-condensed
      - candidates.each do |candidate|
        %tr
          %td
            #{candidate['first_name']} #{candidate['last_name']}
          %td
            = partytmpl.render(Object.new, :code => candidate['party'], :parties => parties)
