.row
  .col-lg-12
    .page-header
      .pull-right
        %a.btn.btn-primary(href="/ticketviewer.html#/#{state_id}")
          View Preferences
      %h1= state['name']
  .col-lg-6
    %p
      The Senators for your #{state_or_territory} are:
    %table.table.table-condensed
      - senators.each do |senator|
        %tr
          %td
            #{senator['first_name']} #{senator['last_name']}
          %td
            = partytmpl.render(Object.new, :code => senator['party'], :parties => parties)
  .col-lg-6
    %p
      The Senate candidates for #{state['name']}, in ballot order:
    %table.table.table-condensed
      - ballot_order.each do |candidate_id|
        - candidate = candidates[candidate_id]
        %tr
          %td
            #{candidate['first_name']} #{candidate['last_name']}
          %td
            = partytmpl.render(Object.new, :code => candidate['party'], :parties => parties)
